* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #F1EFE4;
}

.Program-Title {
    text-align: center;
    font-size: 5vw;
}

.Program-Boxes-All {
    width: 100%;
    margin: auto;
    margin: 15vh 0vh 17vh;
    display: flex;
    justify-content: space-around;
} 

.Program-Boxes {
    width: 23vw;
    height: 33vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    padding: 10px;
}

.Program-Boxes-Colors {
    width: 100%;
    height: 8px;
}

.Program-Boxes-Color1 {
    background-color: #b4ebca;
}

.Program-Boxes-Color2 {
    background-color: #d9f2b4;
}
.Program-Boxes-Color3 {
    background-color: #d3fac7;
}

.Intresse-Anmälan-Button {
    margin-left: 40vw;
    margin-bottom: 2vh;
    padding: 3vh 8vw;
    border-color: black;
    background-color: white;
}

.Text-Background0 {
    width: 45vw;
    padding: 0px 30px 30px 30px;
}

.Text-Background1 {
    background-color: #d3fac7;
    width: 40vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    border-radius: 3vw;
    padding: 3vw 0 3vw;
}

.Slide1 {
    background-color: #d3fac7;
    width: 100%;
    height: 100vh;
}

.Slide2 {
    background-color: #F1EFE4;
    width: 100%;
    height: 100vh;
    padding: 4vw 0vw 4vw;
}

.Intresse-Backgrounds {
    display: flex;
    justify-content: space-evenly;
}

.Intresse-Form-Item {
    margin: 8%;
}

.Intresse-Boxes {
    display: flex;
    justify-content: start;
}

.Intresse-Box-Item {
    margin-right: 2%;
    display: flex;
}

.Intresse-Box-Textarea {
    width: 90%;
    height: 5vh;
    font-size: 20px
}

.Intresse-Box-Input {
    width: 30px;
    height: 30px;
}

.Intresse-Box-Label {
    margin-bottom: 5px;
}

.Intresse-Button{
    padding: 15px 45px;
}

.Intresse-Title {
    text-align: center;
    font-size: 3vw;
}

.Samtycke-Text {
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

input {
    border-width: 2px;
    border-color: black;
}

.Intresse-h2 {
    text-align: left;
    font-size: 4vw;
}

a {
    text-decoration: none;
    color: black;
}

.Intresse-Text {
    text-align: left;
    margin: 2vw 10vw 0vw 0vw;
    font-size: 1vw;
}

.Teknik-h1 {
    font-size: 7vh;
    text-align: center;
    margin: 25px 25px 50px 25px;
}

.Brödtext {
    margin: 2vh 0px 0vh 10vw;
    padding: 1vw;
    width: 40vw;
}

footer a {
    display: block;
    border: 1px black solid;
    border-radius: 5px;
    background-color: white;
    padding: 1vw 3vw;
    width: max-content;
    margin: auto; 
    text-align: center;
}

.video {
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

.Teknik-Button {
    margin: 10vh 0vw 20vh ;
}
.Pedagog-Button {
    margin: 10vh 30vw 20vh 0vw;
}

.Startsida-H1 {
    text-align: center;
    font-size: 5vw;
    
}

.Mellansträck {
    width: 70%;
    height: 2vh;
    background-color: #ff7a7a;
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.Startsida-H2 {
    font-size: 3vw;
    text-align: center;
}

.Border-Color {
    width: max-content;
    padding: 3vh;
    margin: auto;
    border-top: 1vh #ff7a7a solid;
    border-left: 1vh #ff7a7a solid;
    border-radius: 2vw;
}

.Intresse {
    top: 0;
    font-size: 30px;
    text-align: right;
    position: sticky;
}

.logga {
    width: 80%;
}

.logga-2 {
    width: 20%;
}

.Intresse-text-main {
    font-size: 2vw;
}

.Slide3 {
    background-color: #d3fac7;
    width: 100%;
    height: 100vh;
    padding: 4vw 0vw 4vw;
}

.Program-Boxes-slide3 {
    width: 23vw;
    height: 50vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    padding: 10px;
}

.slide3-text {
    font-size: 2vw;
}

.Lärare {
    text-align: center;
    font-size: 5vw;
}

.h1-logga {
    display: flex; 
    align-items: center;
}

.Bilder-Text {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.Lärare-Text {
    width: 37vw;
    padding: 40px;
    line-height: 3vh;
    background-color: #F1EFE4;
    border-radius: 30px;
}

.Lärare-h2 {
    font-size: 2vw;
    text-align: center;
    padding: 30px;
}

.Färg {
    background-color: #ff7a7a;
}

.Lärare-Knapp {
    margin: 2vw;
}

.Pedagogik-h1 {
    font-size: 6vw;
    background-color: #ff7a7a;
    text-align: center;
}

.Pedagogik-Text1 {
    font-size: 4vh;
    line-height: 5vh;
    color: #7dbb6a;
    width: 40vw;
    margin-bottom: 3vh;
}

.Waldorf-Brödtext {
    font-size: 3vh;
    line-height: 4vh;
    width: 30vw;
    color: #666;
}

.Pedagogik-Brödtext {
    margin: 10vh 0px 0vh 13vw;
    padding: 1vw;
    width: 60vw;
    display: flex;
    flex-direction: column;
}

.bild {
    order: 0;
}

.Pedagogik-Div {
    display: flex;
}

.Pedagogik-Bilder {
    height: 50vw;
    width: 75vw;
    margin-top: 10vw;
}

.Pedagogik-Bild {
    width: 80%;
}

.Om-H1 {
    text-align: center;
    font-size: 5vw;
    margin-top: 5vh;
}

.Om-H2 {
    text-align: center;
    font-size: 2vw;
}